html {
    background: #0;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    padding: 2em 2em 4em;
}

ul{
    line-height: 1.2;
    list-style:none;
    font-family: "Roboto";
    font-size: 100%;
    color: silver;
}

a{
    font-weight: bolder;
    font-size: 100%;
    color: black;
    text-decoration: none;
}

p1{
    color: silver;
    font-size: 110%;
}

p2{
    font-size: 90%;
    font-family: "Roboto";
    color: silver;
}

h6{
    font-family: "Roboto" ! important;
    color: silver ! important;
}

em{
    font-weight: 600;
    font-family: "Rosalind Serif";
    color: gray;
}

div {
    font-family: "Rosalind Serif";
}

img {
    display: block ! important;
    margin: 1.3em auto ! important;
    max-width: 100% ! important;
}

@font-face{
  font-family: "Rosalind Serif";
  font-style: normal;
  font-weight: 700;
  src: url("rosalind-serif-v1-latin-700.eot");
  src: url("rosalind-serif-v1-latin-700.eot?#iefix") format("embedded-opentype"), 
       url("rosalind-serif-v1-latin-700.woff2") format("woff2"), 
       url("rosalind-serif-v1-latin-700.woff") format("woff"), 
       url("rosalind-serif-v1-latin-700.ttf") format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
